@charset "UTF-8";

.body {
  font-family: Lato;
}

.inner {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1100px;
}

.header {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header-inner {
  padding: 15px;
}

.fa-bolt {
  color: gray;
  font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_contact {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  padding: 14px 12px;
  transition: 0.3s;
  text-decoration: none;
}

.header_contact:hover {
  color: #333;
  transition: 0.3s all;
}

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.theme > .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme .bt {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: Raleway;
}

.theme .fbt {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.wwcd {
  background-color: #74cfae;
  padding-top: 50px;
}

.wwcd_iphone {
  height: 295px;
  margin-left: 100px;
}

.wwcd_box {
  margin: 0 100px;
  padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wwcd_title {
  color: white;
  font-size: 24px;
  font-family: Raleway;
}

.wwcd_context {
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
  text-align: center;
}

.olw {
  background-color: #f2f2f2;
}

.olw-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.olw_title {
  color: #333;
  font-size: 24px;
  font-family: Raleway;
  padding-top: 60px;
  padding-bottom: 40px;
}

.olw_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.olw_box > li {
  margin-left: 100px;
  margin-top: 80px;
}

.olw_box > li > a {
  display: inline-block;
}

.olw_box > li > a > img {
  opacity: 0.7;
  transition: 0.3s;
}

.olw_box > li > a > img:hover {
  opacity: 1;
  transition: 0.3s all;
}

.olw_box > li:nth-child(-n+3) {
  margin-top: 0;
}

.olw_box > li:nth-child(3n+1) {
  margin-left: 0;
}

.olw_bottom {
  padding-top: 90px;
  padding-bottom: 70px;
  width: 790px;
}

.olw_bottom_context {
  color: #333;
  text-align: center;
  width: 600px;
}

.olw_bottom_button {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  transition: 0.3s;
  text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.olw_bottom_button:hover {
  color: #333;
  transition: 0.3s all;
}

.os {
  background-color: #4e4e4e;
}

.os-inner {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.os_title {
  color: white;
  font-size: 24px;
  font-family: Raleway;
  padding-top: 70px;
  padding-bottom: 40px;
}

.os_box {
  padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.os_box_imgh {
  margin-left: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.os_box_imgh > h5 {
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.os_box_imgh:first-child {
  margin-left: 0;
}

.sns {
  background-color: #f2f2f2;
}

.sns_box {
  padding: 200px 0;
  margin: auto;
  display: flex;
}

.sns_box > li > a {
  display: inline-block;
}

.sns_box > li > a > i {
  color: #74cfae;
  cursor: pointer;
  font-size: 40px;
  padding: 15px 72.5px;
  transition: 0.3s;
}

.sns_box > li > a > i:hover {
  background-color: white;
  transition: 0.3s all;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  text-align: right;
}

.footer_box {
  color: white;
  width: 1100px;
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
    justify-content: flex-end;
}

.footer_box > i {
  padding: 0 5px;
}