@charset "UTF-8";

body {
  font-family: Lato;
}

main {
  padding-top: 70px;
}

.inner {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1100px;
}

.header {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header-inner {
  padding: 15px 0;
}

.bolt {
  color: gray;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bars {
  display: none;
}

.header_contact {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  padding: 14px 12px;
  transition: 0.3s all;
  text-decoration: none;
}

.header_contact:hover {
  color: #333;
}

.theme {
  background-color: #f2f2f2;
}

.theme-inner {
  padding: 250px 0;
}

.theme > .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme .bt {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: Raleway;
}

.theme .fbt {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.wwcd {
  background-color: #74cfae;
}

.wwcd-inner {
  padding-top: 50px;
}

.wwcd_iphone {
  height: 295px;
  margin-left: 100px;
}

.wwcd_box {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wwcd_title {
  color: white;
  font-size: 24px;
  font-family: Raleway;
}

.wwcd_context {
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
  text-align: center;
}

.olw {
  background-color: #f2f2f2;
}

.olw-inner {
  padding-top: 60px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.olw_title {
  color: #333;
  font-size: 24px;
  font-family: Raleway;
}

.olw_box {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.olw_box > li {
  margin-left: 100px;
  margin-top: 80px;
}

.olw_box > li > a {
  display: inline-block;
}

.olw_box > li > a > img {
  opacity: 0.7;
  transition: 0.3s all;
}

.olw_box > li > a > img:hover {
  opacity: 1;
}

.olw_box > li:nth-child(-n+3) {
  margin-top: 0;
}

.olw_box > li:nth-child(3n+1) {
  margin-left: 0;
}

.olw_bottom {
  margin-top: 90px;
  width: 790px;
}

.olw_bottom_context {
  color: #333;
  text-align: center;
  width: 600px;
}

.olw_bottom_button {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  transition: 0.3s all;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.olw_bottom_button:hover {
  color: #333;
}

.os {
  background-color: #4e4e4e;
}

.os-inner {
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.os_title {
  color: white;
  font-size: 24px;
  font-family: Raleway;
}

.os_box {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.os_box_imgh {
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.os_box_imgh > p {
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.os_box_imgh:first-child {
  margin-left: 0;
}

.sns {
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

.sns_box {
  margin: auto;
  display: flex;
}

.sns_box > li > a {
  display: inline-block;
}

.sns_box > li > a > i {
  color: #74cfae;
  cursor: pointer;
  font-size: 40px;
  padding: 15px 72.5px;
  transition: 0.3s all;
}

.sns_box > li > a > i:hover {
  background-color: white;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}

.footer_box {
  color: white;
  width: 1100px;
}

.footer_box > i {
  margin: 0 5px;
}

@media screen and (max-width: 1199px) {
	/* 1199px以下に適用されるCSS（TAB用） */

  .inner {
    width: 97%;
  }

  .wwcd > .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wwcd-inner {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .wwcd_iphone {
    margin-left: 0;
  }

  .wwcd_box {
    margin: 20px 0 0 0;
  }

  .wwcd_context {
    margin-top: 35px;
  }

  .olw-inner {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .olw_box {
    margin-top: 40px;
    display: block;
  }

  .olw_box > li {
    margin-left: 0px;
    margin-top: 0px;
    height: 300px;
  }

  .olw_box > li:nth-child(3n+4) {
    margin-top: 80px;
  }

  .olw_bottom {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .olw_bottom_button {
    margin-top: 40px;
    margin-left: 0;
  }

  .olw_bottom_context {
    width: 100%;
  }

  .os_box {
    display: block;
  }

  .os_box_imgh {
    margin-top: 88px;
    margin-left: 0;
  }

  .os_box_imgh:first-child {
    margin-top: 0;
  }

}

@media screen and (max-width: 767px) {
	/* 767px以下に適用されるCSS（SP用） */

  .header_contact {
    display: none;
  }

  .fa-bars {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #ddd;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .theme-inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .bt {
    font-size: 80px;
    text-align: center;
  }

  .fbt {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns_box {
    margin: auto;
    display: block;
    text-align: center;
  }

  .sns_box > li > a > i {
    width: 10vw;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40vw;
    padding-right: 40vw;
  }

}